@model List<week4_day3_paired.Models.WorkItem>
    
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Priority</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bugTask in Model)
            {
                <tr>
                    <td>@bugTask.Title</td>
                    <td>@bugTask.DateCreated</td>
                    <td>@bugTask.Priority</td>
                </tr>
            }
        </tbody>
    </table>
